body {
    padding: 30px;
}

.app {
    border: 4px solid #F2F3F4;
    border-style: outset;
    width: 30%;

}

.header {
    background-color: #F2F3F4;
    font-size: 30px
}

.spacer {
    width: 25px;
}

.app-body {
    display: inline-flex;
}

.movies {
    border: 1px solid lightgray;
}

.movie-entry {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.taggol {
    float: right;
}

.search-bar .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: green;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .search-bar:hover .tooltiptext {
    visibility: visible;
  }